#page-container {
  position: relative;
  min-height: 97vh;
}

#content-wrap {
  padding-bottom: 4rem; /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem; /* Footer height */
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer div {
    display: flex;
  }